.homepage{
    position:relative;
    text-align: center;
}

.post-new {
    position:absolute;
    right: 35px;
    top:250px;
    z-index:100;
}

.login {
    text-align: center;
}

.logout {
    position:absolute;
    right:30px;
    top:100px;
    z-index:100;
}

.my-post-button {
    position:absolute;
    right:40px;
    top:180px;
    z-index:100;
}

.hidden{
    display: none;
}

.spinner{
    margin-top: 200px;
    text-align: center;
}

#loading{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 0%;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color:white;
}


