.post-card {
    width: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
 }

.post-image{
    display: block;
    padding-left: 100px;
    width: 500px;
}

.post-header {
    text-align: left;
}

.like-button {
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    text-align: center;
}